/* Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* End Reset */
@media only screen and (min-width: 300px) {
  .respond {
    height: 100px;
    width: 320px;
    margin: 0 auto; } }
@media only screen and (min-width: 768px) {
  .respond {
    width: 900px; } }
@media only screen and (min-width: 1024px) {
  .respond {
    width: 1200px; } }
@media only screen and (min-width: 1200px) {
  .respond {
    width: 1366px; } }

@font-face {
  font-family: 'mulilight';
  src: url("../fonts/muli-light-webfont.woff2") format("woff2"), url("../fonts/muli-light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'muliregular';
  src: url("../fonts/muli-webfont.woff2") format("woff2"), url("../fonts/muli-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'oswalddemibold';
  src: url("../fonts/oswald-demibold-webfont.woff2") format("woff2"), url("../fonts/oswald-demibold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'oswaldextralight';
  src: url("../fonts/oswald-extralight-webfont.woff2") format("woff2"), url("../fonts/oswald-extralight-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
.title {
  color: #555555;
  font-family: "oswalddemibold";
  font-size: 41px;
  margin-top: 70px;
  margin-bottom: 20px;
  transition: all 0.5s ease; }
  .title:hover {
    color: #333366; }

.description {
  font-family: "mulilight";
  margin-bottom: 25px;
  font-size: 14px;
  color: #999999; }

.contact-box {
  margin: 0 auto;
  width: 320px;
  padding-top: 100px; }

.contact-label {
  font-family: "mulilight";
  color: #b0b0b4; }

#email, #name, #message {
  border-radius: 10px;
  height: 30px;
  border: solid 1px #ffffff;
  background-color: #f0efef;
  width: 320px;
  color: #555555;
  display: block;
  margin: 15px auto;
  font-family: "mulilight"; }

#message {
  height: 150px; }

#sendbutton {
  width: 100px;
  border: #ffffff solid 4px;
  border-radius: 10px;
  background-color: #b0b0b4;
  color: #ffffff;
  font-family: "mulilight";
  font-size: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: -4px;
  float: right;
  transition: all 0.5s ease; }
  #sendbutton:hover {
    background-color: #333366;
    color: #ffffff;
    cursor: pointer; }

#portfolio {
  clear: both;
  padding-top: 100px; }

.pTitle {
  font-family: "oswaldextralight";
  font-size: 60px;
  text-align: center;
  letter-spacing: 50px;
  margin-right: -50px;
  margin-bottom: 50px; }

#portfolio-menu {
  width: 1024px;
  margin: 0 auto;
  display: flex;
  justify-content: center; }
  #portfolio-menu h2 {
    margin: 30px; }

#underline {
  padding: 40px;
  display: flex;
  justify-content: center; }

#development, #design, #artwork {
  display: inline;
  font-family: "oswaldextralight";
  font-size: 25px;
  color: #cccccc;
  transition: all 0.5s ease; }
  #development:hover, #design:hover, #artwork:hover {
    border-bottom: 1px solid #333366;
    padding-bottom: 10px;
    color: #555555;
    cursor: pointer;
    font-size: 26px; }

#design {
  margin-left: 0; }

#artwork {
  margin-left: 0;
  margin-right: 0; }

.greyBack {
  background-color: #f0efef; }

.portGrid {
  display: flex;
  justify-content: center;
  overflow: hidden; }

.scrollingSide {
  display: flex;
  flex-direction: column;
  width: 320px;
  overflow: auto;
  height: 450px; }

.staticSide {
  display: flex;
  flex-direction: column; }

.small-block {
  width: 313px;
  margin-right: 30px;
  display: inline; }

.large-block {
  width: 695px;
  height: 450px;
  margin-bottom: 30px;
  display: inline-block;
  vertical-align: top; }
  .large-block:nth-child(even) {
    margin-left: 0;
    margin-right: 30px; }

.clientLogo {
  width: 200px; }

.info {
  width: 320px;
  margin: 0 auto; }
  .info h4 {
    color: #555555;
    font-size: 40px;
    text-align: left;
    margin: 20px;
    margin-top: 100px; }
  .info h5 {
    color: #f8f8f8;
    color: #555555;
    font-family: "oswaldextralight";
    font-size: 20px;
    text-align: left;
    margin: 20px; }
  .info p {
    color: #f8f8f8;
    color: #555555;
    font-family: "mulilight";
    font-size: 15px;
    text-align: left;
    margin: 20px;
    margin-bottom: 40px; }

#artwork-page {
  overflow: hidden;
  width: 1366px;
  height: 3000px;
  position: relative;
  display: none; }

#walking {
  position: absolute;
  top: 300px;
  left: 1040px;
  height: 434px;
  width: 236px;
  overflow: hidden;
  background-image: url(../images/art_walking.jpg);
  background-position: right;
  background-repeat: no-repeat;
  background-attachment: fixed; }

#ashley {
  position: absolute;
  top: 150px;
  left: 200px;
  height: 320px;
  width: 488px;
  overflow: hidden;
  background-image: url(../images/art_ashley.jpg);
  background-position: -10px;
  background-repeat: no-repeat;
  background-attachment: fixed; }

#christine {
  position: absolute;
  top: 600px;
  left: 150px;
  height: 223px;
  width: 483px;
  overflow: hidden;
  background-image: url(../images/art_christine.jpg);
  background-position: left;
  background-repeat: no-repeat;
  background-attachment: fixed; }

#purpleDress {
  position: absolute;
  top: 950px;
  left: 636px;
  height: 708px;
  width: 668px;
  overflow: hidden;
  background-image: url(../images/art_purpleDress.jpg);
  background-position: right;
  background-repeat: no-repeat;
  background-attachment: fixed; }

#profile {
  position: absolute;
  top: 1550px;
  left: 120px;
  height: 1125px;
  width: 462px;
  overflow: hidden;
  background-image: url(../images/art_profile.jpg);
  background-position: left;
  background-repeat: no-repeat;
  background-attachment: fixed; }

#greenDress {
  position: absolute;
  top: 2000px;
  left: 950px;
  height: 1427px;
  width: 281px;
  overflow: hidden;
  background-image: url(../images/art_greenDress.jpg);
  background-position: right;
  background-repeat: no-repeat;
  background-attachment: fixed; }

.backwhite {
  position: absolute; }
  .backwhite:last-child {
    left: 900px;
    z-index: -3; }

#development-page, #design-page {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: center; }

.card {
  width: 320px;
  height: 360px;
  background-color: #555555;
  color: #fff;
  display: inline-block;
  overflow: hidden;
  margin-left: 50px; }
  .card img {
    width: 280px;
    margin: 40px 20px; }
  .card h3 {
    font-style: "mulilight";
    font-size: 15px;
    margin-left: 20px; }
  .card p {
    font-style: "mulilight";
    font-size: 15x;
    margin: 20px;
    padding-bottom: 40px; }
  .card a {
    font-style: "oswalddemibold";
    font-size: 15px;
    margin-right: 20px;
    display: inline;
    text-align: right;
    vertical-align: bottom;
    display: block;
    transition: all 0.5s ease; }
    .card a:hover {
      font-size: 16px;
      font-weight: 900; }

#summerLEDC {
  margin: 40px 20px;
  font-family: 'Montserrat';
  font-weight: 600;
  font-style: normal;
  color: #fff;
  font-size: 33px;
  text-align: center; }

#design-page {
  display: none; }

#headerColour {
  display: grid;
  -ms-grid-columns: repeat(24, 1fr);
  -ms-grid-rows: 50px repeat(10, 1fr);
  grid-template-columns: repeat(24, 1fr);
  grid-template-rows: 50px repeat(10, 1fr);
  position: relative;
  width: 100%; }

.linkedIn, .twitter, .instagram {
  margin-top: 10px;
  grid-column-start: -4; }

.twitter {
  grid-column-start: -3; }

.instagram {
  grid-column-start: -2; }

.stay-put {
  position: absolute; }

#heading {
  -ms-grid-column: 3;
  -ms-grid-column-span: 11;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-column-start: 3;
  grid-column-end: 14;
  grid-row-start: 2;
  grid-row-end: 3;
  z-index: 2;
  color: #555; }
  #heading h1 {
    font-family: "oswalddemibold";
    font-size: 65px;
    display: inline-block; }
  #heading h2 {
    font-family: "mulilight";
    font-size: 36px;
    margin-bottom: 20px;
    letter-spacing: 4.1px;
    display: inline-block; }
  #heading h3 {
    font-family: "mulilight";
    font-size: 25px;
    margin-bottom: 15px; }
  #heading h4 {
    font-family: "mulilight";
    font-size: 20px;
    margin-bottom: 10px;
    display: inline-block; }
  #heading #to-portfolio {
    cursor: pointer;
    margin-left: 14px;
    transition: all 0.5s ease; }
    #heading #to-portfolio:hover {
      color: #000;
      margin-left: 5px;
      font-size: 21px; }
  #heading #to-contact {
    display: block;
    text-align: right;
    cursor: pointer;
    transition: all 0.5s ease; }
    #heading #to-contact:hover {
      color: #000;
      font-size: 21px; }

#sub-head {
  -ms-grid-column: 17;
  -ms-grid-column-span: 11;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-column-start: -2;
  grid-column-end: -8;
  grid-row-start: 4;
  grid-row-end: 10;
  z-index: 2;
  color: #555;
  text-align: left; }
  #sub-head h2 {
    font-family: "oswalddemibold";
    font-size: 40px;
    margin-bottom: 30px; }
  #sub-head h3 {
    font-family: "mulilight";
    font-size: 17px;
    margin-bottom: 10px;
    margin-left: 40px; }
  #sub-head h4 {
    font-family: "mulilight";
    font-size: 17px;
    margin-left: 40px; }

.hidden {
  display: none; }

body {
  font-family: "mulilight";
  font-size: 14px; }

a {
  text-decoration: none;
  color: #000; }

#container {
  width: 1366px;
  margin: 0 auto; }

footer {
  background-color: #fff;
  clear: both; }

.footer-nav {
  float: left;
  margin-top: 50px;
  background-color: #fff;
  padding: 20px;
  clear: both; }
  .footer-nav li {
    display: inline;
    margin-right: 40px; }
  .footer-nav a {
    text-decoration: none;
    font-family: "oswaldextralight";
    font-size: 15px;
    letter-spacing: 0.220em;
    color: #b0b0b4; }

.cright {
  float: right;
  display: inline;
  text-align: right;
  color: #b0b0b4;
  margin-top: 70px; }

/*# sourceMappingURL=styles.css.map */
