@font-face {
    font-family: 'mulilight';
    src: url('../../fonts/muli-light-webfont.woff2') format('woff2'),
         url('../../fonts/muli-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'muliregular';
    src: url('../../fonts/muli-webfont.woff2') format('woff2'),
         url('../../fonts/muli-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'oswalddemibold';
    src: url('../../fonts/oswald-demibold-webfont.woff2') format('woff2'),
         url('../../fonts/oswald-demibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'oswaldextralight';
    src: url('../../fonts/oswald-extralight-webfont.woff2') format('woff2'),
         url('../../fonts/oswald-extralight-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}