$greytext: #ccc;
$gold: #cfb171;
$mainbgcolor: #999;
$plaintext:#fff;
$fonts:arial;
$navcolor: #b0b0b4;
$maincolor: #555555;
$purple: #333366;
$barelythere: #f8f8f8;
$portfolioback: #f0efef;
$laravel: #636b6f;
$coral: #ff674f;
$fire: #fe0b37;

// $fontfamilythin: "Acumin Pro Condensed", Acumin Pro Condensed;
$fontfamilythin: 'oswaldextralight';
$fontfamilythick: 'oswalddemibold';
$fontfamilybody: 'mulilight';
$fontfamilybodythick: 'muliregular';
// $almostwhite: #f6f6f6;
$almostwhite: #dbdbdb;