#headerBack {
	width:100%;
	display:grid;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: repeat(12, 1fr);
	// margin-top: 20px;
	
	// height:1307px;
	background-image: url(../../images/sgnm-sm.jpg);
	background-repeat: no-repeat;
	// width:100%;
	@include medium-up {
		background-image: url(../../images/sgnm-med.jpg);
	}
	@include large-up {
		background-image: url(../../images/sgnm-long.jpg);
	}
}

.stay-put {
	position:absolute;
	// display: none;
}
#eight {
	width:24em;
	grid-column-start:2;
	grid-column-end:12;
	grid-row-start:5;
	grid-row-end:8;
}

#heading {
	grid-column-start:2;
	grid-column-end:8;
	grid-row-start:1;
	grid-row-end:5;
	
	
	color: #555;
	@include medium-up {

	}
	@include large-up {
	
	
	
	}

	h1 {
		font-size:2em;
		font-family: $fontfamilythick;
		display:inline-block;
		margin-bottom: 1em;
		@include large-up {
		font-size: 4.063em;
		
		
		}
	}
	h2 {
		font-size:1.5em;
		@include large-up {
		font-family: $fontfamilybody;
		font-size: 36px;
		margin-bottom: 20px;
		letter-spacing: 4.1px;
		display:inline-block;
		}
	}
	h3{
		margin-bottom: 1em;
		@include large-up {
		font-family: $fontfamilybody;
		font-size: 25px;
		margin-bottom: 15px;
	}

	}
	h4{
		@include large-up {
		font-family: $fontfamilybody;
		font-size: 20px;
		margin-bottom: 10px;
		
		display:inline-block;
	}

	}
	#to-portfolio {
		cursor: pointer;
		// margin-left: 14px;
		text-align:right;
		transition: all 0.5s ease;
		margin-bottom:1em;
		&:hover {
			color: #000;
			margin-left: 5px;
			font-size: 21px;
		}
	}
	#to-contact {
		// display:block;
		text-align:right;
		cursor: pointer;
		transition: all 0.5s ease;
		&:hover {
			color: #000;
			font-size: 21px;
		}
	}
}
#sub-head {
	grid-column-start:6;
	grid-column-end:12;
	grid-row-start:6;
	grid-row-end:12;

	z-index: 2;
	color: #555;
	text-align: left;
	@include large-up {
	
	z-index: 2;
	
	text-align: left;
	}
	h2{
		font-size:1.5em;
		font-family: $fontfamilythick;
		display:inline-block;
		margin-bottom: 1em;
		@include large-up {
		font-family: $fontfamilythick;
		font-size: 40px;
		margin-bottom: 30px;
	}
	}
	h3{
		font-family: $fontfamilybody;
		margin-bottom: 1em;
		@include large-up {
		
		font-size: 17px;
		margin-bottom: 10px;
		margin-left: 40px;
	}
	}
	h4 {
		@include large-up {
		font-family: $fontfamilybody;
		font-size: 17px;
		margin-left: 40px;
	}
}
}
