// #susanne {
// 	background-image: url(../../images/sgnm-sm.jpg);
// 	background-repeat: no-repeat;
// 	width:100%;
// 	@include medium-up {
// 		background-image: url(../../images/sgnm-med.jpg);
// 	}
// 	@include large-up {
// 		background-image: url(../../images/sgnm-long.jpg);
// 	}
// }

#headerColour {
	display: grid;
	//loveeeee you IE <3
	-ms-grid-columns: repeat(6, 1fr);
	-ms-grid-rows: 50px repeat(10, 1fr);
	grid-template-columns: repeat(6, 1fr);
	grid-template-rows: 50px repeat(10, 1fr);
	
	@include medium-up {
	-ms-grid-columns: repeat(12, 1fr);
	-ms-grid-rows: 50px repeat(10, 1fr);
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: 50px repeat(10, 1fr);
	clear:both;
	width:375px;
	overflow:hidden;
	}
	@include large-up {
		//loveeeee you IE <3
		-ms-grid-columns: repeat(24, 1fr);
		-ms-grid-rows: 50px repeat(10, 1fr);
		grid-template-columns: repeat(24, 1fr);
		grid-template-rows: 50px repeat(10, 1fr);
		
		width:100%;
	}
	
}

.stay-put {
	position:absolute;
	// display: none;
}
#eight {
	// -ms-grid-column:2;
	// 	-ms-grid-column-span:7;
	// 	-ms-grid-row:4;
	// 	-ms-grid-row-span: 1; 
		grid-column-start: 1;
		grid-column-end: 11;
		grid-row-start:4;
		grid-row-end: 5;
	@include medium-up {
		// -ms-grid-column:7;
		// -ms-grid-column-span:7;
		// -ms-grid-row:4;
		// -ms-grid-row-span: 1; 
		grid-column-start: 7;
		grid-column-end: 20;
		grid-row-start:4;
		grid-row-end: 5;
	}
	@include large-up {
		// -ms-grid-column:7;
		// -ms-grid-column-span:7;
		// -ms-grid-row:4;
		// -ms-grid-row-span: 1; 
		grid-column-start: 7;
		grid-column-end: 20;
		grid-row-start:4;
		grid-row-end: 5;

	}
}
#heading {
	-ms-grid-column:1;
	-ms-grid-column-span:4;
	-ms-grid-row:2;
	-ms-grid-row-span: 1; 
	grid-column-start: 1;
	grid-column-end: 6;
	grid-row-start:2;
	grid-row-end: 4;
	z-index: 2;
	color: #555;
	@include medium-up {

	}
	@include large-up {
		-ms-grid-column:3;
	-ms-grid-column-span:11;
	-ms-grid-row:2;
	-ms-grid-row-span: 1; 
	grid-column-start: 3;
	grid-column-end: 14;
	grid-row-start:2;
	grid-row-end: 3;
	z-index: 2;
	color: #555;
	}

	h1 {
		font-family: $fontfamilythick;
		font-size: 65px;
		
		display:inline-block;
	}
	h2 {
		font-family: $fontfamilybody;
		font-size: 36px;
		margin-bottom: 20px;
		letter-spacing: 4.1px;
		display:inline-block;
		
	}
	h3{
		font-family: $fontfamilybody;
		font-size: 25px;
		margin-bottom: 15px;

	}
	h4{
		font-family: $fontfamilybody;
		font-size: 20px;
		margin-bottom: 10px;
		
		display:inline-block;

	}
	#to-portfolio {
		cursor: pointer;
		margin-left: 14px;
		transition: all 0.5s ease;
		&:hover {
			color: #000;
			margin-left: 5px;
			font-size: 21px;
		}
	}
	#to-contact {
		display:block;
		text-align:right;
		cursor: pointer;
		transition: all 0.5s ease;
		&:hover {
			color: #000;
			font-size: 21px;
		}
	}
}
#sub-head {
	-ms-grid-column:5;
	-ms-grid-column-span:4;
	-ms-grid-row:4;
	-ms-grid-row-span: 5;
	grid-column-start: 5;
	grid-column-end: 9;
	grid-row-start:6;
	grid-row-end: 12;
	z-index: 2;
	color: #555;
	text-align: left;
	@include large-up {
	-ms-grid-column:17;
	-ms-grid-column-span:11;
	-ms-grid-row:2;
	-ms-grid-row-span: 1;
	grid-column-start: -2;
	grid-column-end: -8;
	grid-row-start:4;
	grid-row-end: 10;
	z-index: 2;
	color: #555;
	text-align: left;
	}
	h2{
		font-family: $fontfamilythick;
		font-size: 40px;
		margin-bottom: 30px;
	}
	h3{
		font-family: $fontfamilybody;
		font-size: 17px;
		margin-bottom: 10px;
		margin-left: 40px;
	}
	h4 {
		font-family: $fontfamilybody;
		font-size: 17px;
		margin-left: 40px;
	}
}
