#headerColour {
	display: grid;
	grid-template-columns: repeat(24, 1fr);
	grid-template-rows: 100px repeat(10, 1fr);
	// grid-gap: 20px;
	position:relative;
	width:100%;
	

}
#dark-pink, #light-pink, #peach, #yellow, #em, #en {
	// grid-column-start: 1;
	// grid-column-end: 25;
	// grid-row-start: 1;
	// grid-row-end: 13;
	position:absolute;
	
}
#en {
	left:30%;
	
}
#heading {
	grid-column-start: 4;
	grid-column-end: 12;
	grid-row-start:2;
	grid-row-end: 5;
	z-index: 2;
	// color: #693F44;
	color: #45352b;
	h1 {
		// color: #fff;
		font-family: $fontfamilythick;
		font-size: 65px;
		margin-bottom: 10px;
		// grid-column-start: 4;
		// grid-column-end: 20;
		// grid-row-start: 5;
		// grid-row-end: 13;
	}
	h2 {
		font-family: $fontfamilybody;
		font-size: 36px;
		margin-bottom: 20px;
		letter-spacing: 4.1px;
		// grid-column-start: 4;
		// grid-column-end: 20;
		// grid-row-start: 12;
		// grid-row-end: 13;
	}
	h3{
		font-family: $fontfamilybody;
		font-size: 25px;
		margin-bottom: 15px;

	}
	h4{
		font-family: $fontfamilybody;
		font-size: 20px;
		margin-bottom: 10px;
		text-align: right;

	}
}
#sub-head {
	grid-column-start: -4;
	grid-column-end: -11;
	grid-row-start:6;
	grid-row-end: 10;
	z-index: 2;
	// color: #693F44;
	color: #45352b;
	text-align: right;
	h2{
		font-family: $fontfamilythick;
		font-size: 40px;
		margin-bottom: 30px;

	}
	h3{
		font-family: $fontfamilybody;
		font-size: 20px;
		margin-bottom: 10px;

	}
	h4 {

	}
}



// #dark-pink {
// 	z-index: 1;
// }
// #light-pink {
// 	z-index: 2;
// }
// #peach {
// 	z-index: 3;
// }
// #yellow {
// 	z-index: 4;
// }
// .fade-out {
// 	animation: fadeOut 4s;
// }
// @keyframes fadeOut{
// 	0% {opacity:1;}
// 	100% {opacity:0;}
// }
// .fade-in {
// 	animation: fadeIn 4s;
// }
// @keyframes fadeIn{
// 	0% {opacity:0;}
// 	100% {opacity:1;}
// }