.i-love-lightboxes {
	position:absolute;
	display:none;
	top:0;
	left:0;
	width:100%;
	height:100%;
	color:#ffffff;
	background-color: rgba(0,0,0,0.98);
	img {
		margin-top: 5em;
	}
}

.close-box {
	float:right;
	margin-right:1.1em;
	margin-top: 1em;
	font-size: 2em;
	cursor: pointer;

}

.this-looks-great {
	display:block;
	padding: 0.8em;
	border: 1px solid #555;
	margin: 0 auto;
}
.lightbox-desc {
	display: block;
	text-align:center;
	font-size: 3em;
	color: #ccc;
	margin-top: 2em;

}