#logo {
	width:3.125em;
	margin: 1em 0 1em 1em;	
	@include medium-up {
	width:6.25em;
	margin: 2em 0 2em 2em;	
	transition: all 0.5s ease;
	&:hover {
		opacity: 0.5;
	}
	}
}
#logoText {
	display:none;

	@include medium-up {
	color: $navcolor;
	display:inline;
	font-family: $fontfamilythin;
	font-size: 25px;
	letter-spacing: 0.220em;
	margin-left: 27px;
	margin-bottom:30px;
	transition: all 0.5s ease;
	
	}
}
#logoText:hover {
	margin:33px;
	color: $maincolor;
}

.main-nav {
	float:right;
	display:none;
	@include medium-up {
	
	margin-top: 3.938em;
	}
	li{
		display: inline;
		margin-right: 6.25em;
		@include medium-up {
			transition: all 0.5s ease;
			&:hover{
				border-bottom: 1px solid $navcolor;
				padding: 7px;	

			}
		}
	
	}
	  
	a{
	text-decoration: none;
	font-family: $fontfamilythin;
	font-size: 20px;
	letter-spacing: 0.220em;
	color: $navcolor;
	transition: all 0.5s ease;
	&:hover{
		color: $purple;
		cursor: pointer;
		
	}
	
	} 
	


} 