
@import 'reset';
@import 'globals';
@import 'mixins';
@import 'fonts';
@import 'nav';
@import 'contact';
@import 'portfolio';
@import 'headerColour';

.hidden {
	display:none;
}

body {
	font-family: $fontfamilybody;
	font-size: 14px;
	// background-color: #000;
	
	
}

a {
	text-decoration: none;
	color:#000;
}

#container {
	width: 375px;
	@include medium-up {
		width:700px;
	}
	@include large-up {
		width:100%;
	}
}


footer {
	// background-color: #555;
	clear:both;
	width:100%;
	height: 4em;
}
.footer-nav {
	// float: left;
	// margin-top: 50px;
	background-color: #fff;
	padding:20px;
	 clear: both;
	 display:inline-block;

	li{
	display: inline;
	margin-right: 40px;
	} 
	a{
	text-decoration: none;
	font-family: $fontfamilythin;
	font-size: 15px;
	letter-spacing: 0.220em;
	color: $navcolor;
	} 
} 
.cright {
	// float: right;
	display: inline;
	text-align: right;
	color: $navcolor;
	// margin-top:70px;
}
.linkedIn {
	float: right;
	vertical-align: bottom;
	text-align: left;
}
.twitter {
	@extend .linkedIn;
	
}
.instagram {
	@extend .linkedIn;
		

	@include medium-up {
		
	}

	@include large-up {
		
	}
	
}
