
@import 'reset';
@import 'globals';
@import 'mixins';
@import 'fonts';
@import 'contact';
@import 'portfolio';
@import 'headerColour';

.hidden {
	display:none;
}

body {
	font-family: $fontfamilybody;
	font-size: 14px;
	// background-color: #000;
	
	
}

a {
	text-decoration: none;
	color:#000;
}

#container {
	width: 1366px;
	margin:0 auto;
}

//RESPONSIVE
// #container {
// 	width:320px;
// 	height:400px;
// 	margin:0 auto;
// 	background-color: blue;
// 	 @include break(med) {width: 768px;}
// 	 @include break(lg) {width: 1366px;}
// }

footer {
	background-color: #fff;
	clear:both;
}
.footer-nav {
	float: left;
	margin-top: 50px;
	background-color: #fff;
	padding:20px;
	 clear: both;

	li{
	display: inline;
	margin-right: 40px;
	} 
	a{
	text-decoration: none;
	font-family: $fontfamilythin;
	font-size: 15px;
	letter-spacing: 0.220em;
	color: $navcolor;
	} 
} 
.cright {
	float: right;
	display: inline;
	text-align: right;
	color: $navcolor;
	margin-top:70px;
}
