$lightText: #868685;
$yellow: #C6B786;
$purple: #8781bd;


$serifTextFamily: democratica, sans-serif;
$serifTextweight: 400;
$sansSerifFamily: "acumin-pro-condensed",sans-serif;
$sansSerifSmallFamily: "acumin-pro-extra-condensed",sans-serif;
$sansSerifweight: 200;
$fontstyle: normal;
